.post{
    border: 1px solid transparent;
    min-height: 300px;
  
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 7px;
}

.post>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.postImg{
    border-radius: 10px;
}
.alignTitle{
    margin: 20px 0px;
}
.alignContent{
    margin-top: 7px;
    overflow: hidden;
    max-height: 160px;
}

.deletePost{
    font-size: 30px;
    color: teal;
    margin-left: 190px;
}